#SELF ADDED
*.cmake
*/CMakeCache.txt
*/CMakeFiles
*/*/CMakeFiles
*/hello_world
*/build
5_Cmake_Installing/*.sh
6_cpack/*.sh
7_BuildBot/hello_world/master/sandbox/
*.sqlite
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
