<html>

<head>
  <link rel="stylesheet" href="test.css" />
<script src="https://unpkg.com/vue"></script>
</head>

<body>

<p id="message">
  {{ statement }}
</p>

<ul id="people_list">
  <li v-for="p in people">
    {{ p.text }}
  </li>
</ul>

<div id="counter">
    <p>
      {{ count }}
    </p>
    <p>
      {{ 2*count-10 }}
    </p>
    <p v-if="count>20">
      You win!
    </p>
    <h1 v-on:click="count = count+1">Click me!</h1>
    <button v-on:click="increment">
      increment count
    </button>
</div>

<div id="input">
  <p>
    {{ input_message }}
  </p>
  <input v-model="input_message" />
</div>

<div id=records>
  <ol>
    <record-item v-for="item in recordList"
    v-bind:record="item"></record-item>
  </ol>
</div>

<div id="raw_app">
  <span v-html="raw"></span>
  <p v-bind:id="dynamic_id">
    I change color and size
  </p>
  <input v-model="dynamic_id" />
</div>

<div id="computed">
  <p>
    {{ first }}
  </p>
  <p>
    {{ second }}
  </p>
  <input v-model="first"/>
</div>

<div id="watcher">
  <p>
    ask a question
  </p>
  <input v-model="question" />
  <p>
    {{ answer }}
  </p>
</div>
<script src="test.js"></script>

</body>

</html>
