<html>

<head>
  <link rel="stylesheet" href="test.css" />
<script src="https://unpkg.com/vue"></script>
</head>

<body>

<p id="message">
  {{ statement }}
</p>

<ul id="people_list">
  <li v-for="p in people">
    {{ p.text }}
  </li>
</ul>

<div id="counter">
    <p>
      {{ count }}
    </p>
    <p>
      {{ 2*count-10 }}
    </p>
    <p v-if="count>20">
      You win!
    </p>
    <h1 v-on:click="count = count+1">Click me!</h1>
    <button v-on:click="increment">
      increment count
    </button>
</div>

<div id="input">
  <p>
    {{ input_message }}
  </p>
  <input v-model="input_message" />
</div>

<div id=records>
  <ol>
    <record-item v-for="item in recordList"
    v-bind:record="item"></record-item>
  </ol>
  <!--<ol>
    <li v-for="{item,index} in recordList">{{item.text}},{{index}}</li>
  </ol> -->
</div>

<div id="raw_app">
  <span v-html="raw"></span>
  <p v-bind:id="dynamic_id">
    I change color and size
  </p>
  <input v-model="dynamic_id" />
</div>

<div id="computed">
  <p>
    {{ first }}
  </p>
  <p>
    {{ second }}
  </p>
  <a v-bind:href="url">link to {{ url }}</a>
  <input v-model="first"/>
</div>

<div id="watcher">
  <p>
    ask a question
  </p>
  <input v-model="question" />
  <p>
    {{ answer }}
  </p>
</div>

<div id="shadow_app">
  <h1 style="color:red;" v-bind:class={shadowon:isshadow}>shadow!!!!</h1>
  <p v-bind:class="classObject">
    Spin me!
  </p>
  <p v-bind:style="styleObject">
    hurrrrr
  </p>
  <button v-on:click="toggle_shadow">shadow on/off</button>
  <template v-if="isshadow">
    <h1>True</h1>
  </template>
  <template v-else>
    <h1>False</h1>
  </template>
</div>

<div id="event_app">
  <button v-on:click="greet" v-on:keyup.enter="greet">Click me!</button>
</div>

<div id="checklist_app">
  <input type="checkbox" id="jack" value="Jack" v-model="checkArray" />
  <label for="jack">Jack</label>
  <input type="checkbox" id="bob" value="Bob" v-model="checkArray" />
  <label for="bob">Bob</label>
  <p>
    {{checkArray}}
  </p>
</div>

<div id="select">
<select v-model="select">
  <option disabled value="">Please select one</option>
  <option>choice1</option>
  <option>aaaaa</option>
</select>
<span>Selected: {{ select }}</span>
</div>

<script src="test.js"></script>

</body>

</html>
